ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .commande {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .drop:hover .commande {
  background-color: red;
}

li.drop {
  display: inline-block;
}

/*.a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/*.a:hover {background-color: #f1f1f1;}

/*.drop:hover .deroule {
  display: block;
} /* nav bar */

.container{
    width: auto;   
}
.item{
width: auto;
}